extends layout

block content
  h1= title
  p Welcome to #{title}
  p Love is like the wind, you can’t see it but you can feel it. --Nicholas Sparks
  p Interesting fact about me is I fall in love with myself everyday.